<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            {{- $href := strings.TrimSpace .url }}
            {{- if strings.HasPrefix $href "http" }}
            <a class="button" href="{{ $href }}" rel="noopener noreferrer" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- else }}
            {{- if and $href (not (strings.HasPrefix $href "/")) }}
            {{- $href = printf "/%s" $href }}
            {{- end }}
            <a class="button" href="{{ $href | relLangURL }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
            {{- end }}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
