{{- $df := default "2006-01-02" .Site.Params.DateFormat -}}
{{- $lmf := default "2006-01-02" .Site.Params.dateFormat -}}

{{- if not .Date.IsZero }}
<span class="meta-item">创建:&nbsp;<span title="{{ .Date }}">{{ .Date.Format $df }}</span></span>
{{- end }}

{{- if (.Param "ShowLastMod") }}
{{- if not .Date.IsZero }}<span class="meta-sep">&nbsp;|&nbsp;</span>{{ end }}
<span class="meta-item">更新:&nbsp;{{ .Lastmod.Format $lmf }}</span>
{{- end }}

{{- if (.Param "ShowWordCounts") }}
{{- if or (not .Date.IsZero) (.Param "ShowLastMod") }}<span class="meta-sep">&nbsp;|&nbsp;</span>{{ end }}
<span class="meta-item">字数:&nbsp;{{ .WordCount }}字</span>
{{- end }}

{{- if (.Param "ShowReadingTime") }}
{{- if or (not .Date.IsZero) (.Param "ShowLastMod") (.Param "ShowWordCounts") }}<span class="meta-sep">&nbsp;|&nbsp;</span>{{ end }}
<span class="meta-item">时长:&nbsp;{{ .ReadingTime }}分钟</span>
{{- end }}

{{- if or .Params.author .Site.Params.author }}
{{- if or (not .Date.IsZero) (.Param "ShowLastMod") (.Param "ShowWordCounts") (.Param "ShowReadingTime") }}<span class="meta-sep">&nbsp;|&nbsp;</span>{{ end }}
{{- partial "author.html" . -}}
{{- end }}
